Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests, stylelint --fix

feat: aes-2264 remove add stage commands from lint stage
  .lintstagedrc
Due: none

chore: test lint staged
  src/components/AddToCartButton/AddToCartButton.js
Due: prettier --write, jest --findRelatedTests

chore: test lint staged
  .lintstagedrc
Due: none

chore: test lint staged
  .lintstagedrc
  src/components/AddToCartButton/AddToCartButton.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 make text assertions more specific and future proof
  src/components/Accordion/Accordion.spec.js
  src/components/AddToCartButton/AddToCartButton.spec.js
  src/components/Breadcrumbs/Breadcrumbs.spec.js
  src/components/BynderWidget/BynderWidget.spec.js
  src/components/Carousel/components/Pagination/Pagination.spec.js
  src/components/DefinitionList/DefinitionList.spec.js
  src/components/FlyinPanel/FlyinPanel.spec.js
  src/components/Heading/Heading.spec.js
  src/components/Heading/__snapshots__/Heading.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
  src/components/Icon/Icon.spec.js
  src/components/LinkButtonGroup/LinkButtonGroup.spec.js
  src/components/LinkButtonGroup/__snapshots__/LinkButtonGroup.spec.js.snap
  src/components/Modal/Modal.spec.js
  src/components/Modal/components/ModalBody/ModalBody.spec.js
  src/components/NavigationBar/NavigationBar.spec.js
  src/components/ProductExtract/ProductExtract.spec.js
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.spec.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 improve modal tests and add usehasmounted test
  src/components/Modal/Modal.js
  src/components/Modal/Modal.spec.js
  src/customHooks/useHasMounted/useHasMounted.spec.js
  src/customHooks/useImageTransition/useImageTransition.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 add tests for image transition hook
  src/customHooks/useHasMounted/useHasMounted.spec.js
  src/customHooks/useImageTransition/useImageTransition.spec.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 improve radio group test suite
  src/components/RadioGroup/RadioGroup.spec.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 add to and refactor sub nav tests
  setupTests.js
  src/components/SubNav/SubNav.js
  src/components/SubNav/SubNav.spec.js
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 return props destructure
  src/components/SubNav/SubNav.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 add test to ensure sub nav and select are accessible and update jest-dom
  package-lock.json
  package.json
  src/components/RadioGroup/RadioGroup.spec.js
  src/components/Select/Select.js
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/SubNav/SubNav.spec.js
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
Due: prettier --write, jest --findRelatedTests

chore(compboilerplate): fix import statement
  scripts/componentBoilerplate/assets/index.js
Due: prettier --write, jest --findRelatedTests

feat: aes-2264 update test
  src/components/RadioGroup/RadioGroup.spec.js
Due: prettier --write, jest --findRelatedTests

feat(checkbox): make id optional
  src/components/Checkbox/Checkbox.js
  src/components/Checkbox/Checkbox.spec.js
  src/components/Checkbox/Checkbox.stories.mdx
Due: prettier --write, jest --findRelatedTests

feat(checkbox): add error state/label
  src/components/Checkbox/Checkbox.js
  src/components/Checkbox/Checkbox.module.css
  src/components/Checkbox/Checkbox.spec.js
  src/components/Checkbox/Checkbox.stories.mdx
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat(checkbox): forward ref the component
  src/components/Checkbox/Checkbox.js
Due: prettier --write, jest --findRelatedTests

feat(select): forward ref the component
  src/components/Select/Select.js
Due: prettier --write, jest --findRelatedTests

feat(select): enhance error styling
  src/components/Select/Select.js
  src/components/Select/Select.module.css
  src/components/Select/Select.stories.mdx
Due: prettier --write, jest --findRelatedTests, stylelint --fix

test(inputtextv2): add unit tests
  src/components/TextInputV2/TextInputV2.spec.js
Due: prettier --write, jest --findRelatedTests

chore(storybook): order story groups for visibility
  .storybook/preview.js
  src/components/Checkbox/Checkbox.stories.mdx
  src/components/Select/Select.stories.mdx
  src/components/TextInput/TextInput.stories.mdx
  src/components/Textarea/Textarea.stories.mdx
Due: prettier --write, jest --findRelatedTests

feat(formtext): create form text input
  src/components/FormText/FormText.js
  src/components/FormText/FormText.module.css
  src/components/FormText/FormText.stories.mdx
  src/components/FormText/index.js
  src/components/index.js
Due: prettier --write, jest --findRelatedTests, stylelint --fix

refactor(inputtextv2): rename FormText to InputTextV2
  src/components/FormText/index.js
  src/components/TextInputV2/TextInputV2.js
  src/components/TextInputV2/TextInputV2.module.css
  src/components/TextInputV2/TextInputV2.stories.mdx
  src/components/TextInputV2/index.js
  src/components/index.js
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat(inputtextv2): improve accessibility
  src/components/TextInputV2/TextInputV2.js
  src/components/TextInputV2/TextInputV2.module.css
  src/components/TextInputV2/TextInputV2.stories.mdx
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat(select): change error mesage to span from div
  src/components/Select/Select.js
  src/components/Select/Select.module.css
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat: enhance error state accessibility
  src/components/Checkbox/Checkbox.js
  src/components/Checkbox/__snapshots__/Checkbox.spec.js.snap
  src/components/Select/Select.js
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/TextInputV2/TextInputV2.js
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, jest --findRelatedTests

chore(release): 1.2.0-develop.187 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat: aes-2381 spacing updates for horizontal product accordion
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.module.css
Due: stylelint --fix

feat: aes-684 export named defaults to be exposed at the top level
  src/index.js
Due: prettier --write, jest --findRelatedTests

feat: aes-684 force named exports
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css.map
  rollup.config.js
  src/components/index.js
  src/compositions/index.js
  src/constants/index.js
  src/contexts/index.js
  src/customHooks/index.js
  src/index.js
  src/utils/index.js
Due: prettier --write, jest --findRelatedTests

feat: aes-684 replace wildcard auto exports to remove linting issues and remove compositions
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/index.js
  src/utils/index.js
Due: prettier --write, jest --findRelatedTests, stylelint --fix

feat: aes-684 explicit const exports
  src/constants/index.js
Due: prettier --write, jest --findRelatedTests

chore: imporve useExecuteOnImpression Story
  src/customHooks/useExecuteOnImpression/useExecuteOnImpression.stories.js
Due: prettier --write, jest --findRelatedTests

feat: aes-684 BREAKING CHANGE
  src/index.js
Due: prettier --write, jest --findRelatedTests

feat: aes-684 add named export for missing hook
  src/index.js
Due: prettier --write, jest --findRelatedTests

feat: aes-684 rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, jest --findRelatedTests

chore(release): 1.2.0-develop.188 [skip ci]
  dist/styles.css
Due: stylelint --fix

feat: pdp-header: image align, single radio variant colour, desc text
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/ProductDetailHeader/ProductDetailHeader.module.css
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.module.css
  src/components/RadioGroup/RadioGroup.module.css
Due: prettier --write, jest --findRelatedTests, stylelint --fix

chore: add badges to read me
  README.md
Due: prettier --write, jest --findRelatedTests

chore: reformat readme
  README.md
Due: prettier --write, jest --findRelatedTests

Path conditions:
  prettier --write: any of: **/*.{js,json,md}
  jest --findRelatedTests: any of: **/*.{js,json,md}
  stylelint --fix: any of: **/*.css
