Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

Revert "chore: update GH on push flow"
  .github/workflows/push.yml
Due: none

chore: specify node version in GH action
  .github/workflows/push.yml
Due: none

chore: add text-summary to the reporters
  jest.config.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(storybook): deploy storybook task
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

feat: add react-hook-form library
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

feat(dynamicform): allow passing default values as a prop
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/DynamicForm.stories.mdx
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(dynamicform): enhance styling and layout
  src/compositions/DynamicForm/DynamicForm.fixture.js
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/DynamicForm.module.css
  src/compositions/DynamicForm/DynamicForm.stories.mdx
  src/compositions/DynamicForm/component-map.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

feat(dynamicform): add WIP components for demo
  src/compositions/DynamicForm/DynamicForm.fixture.js
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/DynamicForm.module.css
  src/compositions/DynamicForm/DynamicForm.spec.js
  src/compositions/DynamicForm/DynamicForm.stories.mdx
  src/compositions/DynamicForm/__snapshots__/DynamicForm.spec.js.snap
  src/compositions/DynamicForm/component-map.js
  src/compositions/DynamicForm/index.js
  src/compositions/index.js
  src/index.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

refactor(dynamicform): create field types enum
  src/compositions/DynamicForm/component-map.js
  src/compositions/DynamicForm/constants.js
  src/compositions/DynamicForm/wrappers/Checkbox.js
  src/compositions/DynamicForm/wrappers/Select.js
  src/compositions/DynamicForm/wrappers/TextField.js
  src/compositions/DynamicForm/wrappers/index.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

refactor(dynamicform): move validators out
  src/compositions/DynamicForm/DynamicForm.constants.js
  src/compositions/DynamicForm/DynamicForm.fixture.js
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/component-map.js
  src/compositions/DynamicForm/validators/validators.js
  src/compositions/DynamicForm/validators/validators.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(atc-button-memory-leak): refactor and test for act button timeout memory leak on unmount
  src/components/AddToCartButton/AddToCartButton.js
  src/components/AddToCartButton/AddToCartButton.spec.js
  src/components/AddToCartButton/AddToCartButton.utils.js
  src/components/AddToCartButton/__snapshots__/AddToCartButton.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/__snapshots__/HorizontalProductDisplayAccordion.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/__snapshots__/AccordionProduct.spec.js.snap
  src/components/ProductCommerce/__snapshots__/ProductCommerce.spec.js.snap
  src/components/ProductDetailHeader/__snapshots__/ProductDetailHeader.spec.js.snap
  src/components/ProductDetailHeader/components/ProductDetailBody/__snapshots__/ProductDetailBody.spec.js.snap
  src/components/ProductGridItem/__snapshots__/ProductGridItem.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore: remove before each set up
  src/components/AddToCartButton/AddToCartButton.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

test(dynamicform): add form unit tests
  src/compositions/DynamicForm/DynamicForm.spec.js
  src/compositions/DynamicForm/__snapshots__/DynamicForm.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(dynamicform): enable passing test refs
  src/compositions/DynamicForm/DynamicForm.fixture.js
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/wrappers/Checkbox.js
  src/compositions/DynamicForm/wrappers/Select.js
  src/compositions/DynamicForm/wrappers/TextField.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

docs(dynamicform): add documentation
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/DynamicForm.spec.js
  src/compositions/DynamicForm/DynamicForm.stories.mdx
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

refactor(dynamicform): remove flex from mobile
  src/compositions/DynamicForm/DynamicForm.module.css
Due: stylelint --fix

chore(release): 1.2.0-develop.196 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

chore(release): 1.2.0-develop.197 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: update the pattern and order
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: clean up the code
  src/components/ContentHubArticleList/ContentHubArticleList.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore: update npm start script
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

docs: update to match npm scripts
  README.md
  documentation/welcome.stories.mdx
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

chore(deps): update SB to latest
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

chore(build): add GH action to deploy SB
  .github/workflows/deploy-gh-pages.yml
Due: none

chore(build): allow running deployment manually
  .github/workflows/deploy-gh-pages.yml
Due: none

fix: update the order of mobile articles and pattern
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: update the order of mobile articles and pattern
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ContentHubArticleList/ContentHubArticleList.fixture.js
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/ContentHubArticleList.stories.mdx
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: update the order of mobile articles and pattern
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/ContentHubArticleList.module.css
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

fix: update the order of articles
  package-lock.json
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: build files
  .lintstagedrc
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

fix: clean up the code
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ContentHubArticleList/ContentHubArticleList.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2467): remove captions from story
  src/components/Video/Video.stories.mdx
Due: none

feat(aes-2467): rebuild output and add to storybook
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Video/Video.js
  src/components/Video/Video.stories.mdx
  src/components/Video/components/Controls/Controls.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2467): remove uuid peer from dependencies
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

chore: revert changes
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  setupTests.js
  src/components/Audio/__snapshots__/Audio.spec.js.snap
  src/components/Audio/components/AudioFooter/__snapshots__/AudioFooter.spec.js.snap
  src/components/Carousel/__snapshots__/Carousel.spec.js.snap
  src/components/Carousel/components/NextButton/__snapshots__/NextButton.spec.js.snap
  src/components/Carousel/components/PreviousButton/__snapshots__/PreviousButton.spec.js.snap
  src/components/Checkbox/Checkbox.js
  src/components/DialogBanner/__snapshots__/DialogBanner.spec.js.snap
  src/components/FooterBlock/__snapshots__/FooterBlock.spec.js.snap
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/__snapshots__/HorizontalProductDisplayAccordion.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/__snapshots__/AccordionProduct.spec.js.snap
  src/components/Icon/Icon.js
  src/components/Icon/Icon.utils.js
  src/components/Icon/__snapshots__/Icon.spec.js.snap
  src/components/ImageCarousel/__snapshots__/ImageCarousel.spec.js.snap
  src/components/Modal/components/ModalBody/__snapshots__/ModalBody.spec.js.snap
  src/components/NotificationModal/__snapshots__/NotificationModal.spec.js.snap
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
  src/components/TextInputV2/TextInputV2.js
  src/components/Video/Video.spec.js
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.js
  src/customHooks/useHasMounted/useHasMounted.js
  src/customHooks/useOnScreen/useOnScreen.js
  src/customHooks/useOverflowHidden/useOverflowHidden.js
  src/customHooks/useScript/useScript.js
  src/customHooks/useWindowHasResized/useWindowHasResized.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore: remove version modifier
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

chore: update story
  src/components/Video/Video.stories.mdx
Due: none

chore: cleanup spelling format
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/styles.css.map
  package-lock.json
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.js
  src/customHooks/useHasMounted/useHasMounted.js
  src/customHooks/useOnScreen/useOnScreen.js
  src/customHooks/useOverflowHidden/useOverflowHidden.js
  src/customHooks/useScript/useScript.js
  src/customHooks/useWindowHasResized/useWindowHasResized.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

Revert "chore: cleanup spelling format"
  dist/index.cjs.js.map
  dist/index.esm.js.map
  dist/styles.css.map
  package-lock.json
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.js
  src/customHooks/useHasMounted/useHasMounted.js
  src/customHooks/useOnScreen/useOnScreen.js
  src/customHooks/useOverflowHidden/useOverflowHidden.js
  src/customHooks/useScript/useScript.js
  src/customHooks/useWindowHasResized/useWindowHasResized.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

Path conditions:
  prettier --write: any of: **/*.{js,json,md}
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.{js,json,md}
  eslint --ignore-path .eslintignore --config .eslintrc: any of: **/*.js
  stylelint --fix: any of: **/*.css
