Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,json,md}": [
    "prettier --write",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.js": [
    "eslint --ignore-path .eslintignore --config .eslintrc",
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}

chore: add spaces
  README.md
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

chore: version bump
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

feat: update style map build
  dist/styles.css.map
Due: none

chore: delete node_modules and package-lock and reinstall
  package-lock.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

feat(aes-2264): test for required prop type more effectively
  jest.config.js
  src/components/Heading/Heading.spec.js
  src/components/TextOverFullWidthAsset/TextOverFullWidthAsset.spec.js
  src/components/Transition/Transition.spec.js
  src/components/Transition/__snapshots__/Transition.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2264): add global
  src/customHooks/useImageTransition/useImageTransition.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2264): more concise lintstaged
  .lintstagedrc
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
Due: none

feat(aes-2264): prop order correction
  src/components/Select/Select.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(checkbox): wrap in a div to fix error state
  src/components/Checkbox/Checkbox.js
  src/components/Checkbox/__snapshots__/Checkbox.spec.js.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(select): reduce font size on smaller viewports
  src/components/Select/Select.module.css
Due: stylelint --fix

feat(inputtextv2): tweak css to match Select
  src/components/TextInputV2/TextInputV2.module.css
Due: stylelint --fix

feat(aes-2264): rebuild output and remove unneeded test title + ref
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/SubNav/SubNav.js
  src/components/Transition/Transition.spec.js
  src/customHooks/useHasMounted/useHasMounted.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(release): 1.2.0-develop.190 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

feat(pdp-header): refactor product detail store and rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/contexts/ProductDetailContext/ProductDetailStore.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(pdp-header): rename
  src/compositions/NewslettersignUp/NewslettersignUp.css
  src/compositions/NewslettersignUp/NewslettersignUp.fixture.js
  src/compositions/NewslettersignUp/NewslettersignUp.js
  src/compositions/NewslettersignUp/NewslettersignUp.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

feat(pdp-header): rename force
  src/compositions/NewsletterSignUp/NewsletterSignUp.css
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

feat(pdp-header): newsletter signup rename
  src/compositions/Footer/Footer.js
  src/compositions/Footer/Footer.spec.js
  src/compositions/Footer/Footer.stories.mdx
  src/compositions/NewsLetterSignUp/index.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
  src/compositions/NewsletterSignup/NewsletterSignup.css
  src/compositions/NewsletterSignup/NewsletterSignup.fixture.js
  src/compositions/NewsletterSignup/NewsletterSignup.js
  src/compositions/NewsletterSignup/NewsletterSignup.spec.js
  src/compositions/NewsletterSignup/NewsletterSignup.stories.mdx
  src/compositions/index.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

chore(pdp-header): case rename
  src/compositions/NewsLetterSignUp/index.js
  src/compositions/Newsletter/Newsletter.css
  src/compositions/Newsletter/Newsletter.fixture.js
  src/compositions/Newsletter/Newsletter.js
  src/compositions/Newsletter/Newsletter.spec.js
  src/compositions/Newsletter/Newsletter.stories.mdx
  src/compositions/NewsletterSignUp/__mocks__/NewsletterSignUp.onClick.js
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

chore(pdp-header): case rename
  src/compositions/NewsletterSignUp/NewsletterSignUp.css
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.stories.mdx
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

chore(pdp-header): rename
  src/compositions/Footer/Footer.js
  src/compositions/Footer/Footer.spec.js
  src/compositions/Footer/Footer.stories.mdx
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.stories.mdx
  src/compositions/index.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat: update snapshot
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
  src/compositions/NewsletterSignUp/index.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(pdp-header): re add mock onclick handler for newsletter signup
  src/compositions/NewsletterSignUp/__mocks__/NewsletterSignUp.onClick.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat: remove txt file
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.spec.txt
Due: none

feat: pdp-header: image classSet variable naming
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/ProductDetailHeader/ProductDetailHeader.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(storybook): update to latest version
  package-lock.json
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'

feat(aes-2175): add ref changes and click listener for tracking
  src/components/Hyperlink/Hyperlink.js
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): change click tracking function property to reflect change in web ui
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): add click tracking functionality to product commerce and product grid item components
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): change click tracking functions to more general name
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): move ref to main div of product grid item
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): remove trackdataprops from gel
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductGridItem/ProductGridItem.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

feat(aes-2175): add test cases to product commerce and product grid item to improve test coverage
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductCommerce/ProductCommerce.spec.js
  src/components/ProductGridItem/ProductGridItem.js
  src/components/ProductGridItem/ProductGridItem.spec.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(release): 1.2.0-develop.192 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

fix: remove contentful query in hub article
  src/components/ContentHubArticle/ContentHubArticle.js
  src/components/ContentHubArticle/__snapshots__/ContentHubArticle.spec.js.snap
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
  src/components/ReadMore/__snapshots__/ReadMore.spec.js.snap
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(build): update rollup and its plugins to latest
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore: run build:prod
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc, stylelint --fix

fix: clean up the code
  src/components/ContentHubArticle/ContentHubArticle.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore(release): 1.2.0-develop.193 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}', eslint --ignore-path .eslintignore --config .eslintrc

chore: update GH on push flow
  .github/workflows/push.yml
Due: none

chore: update release npm script
  package.json
Due: prettier --write, jest --findRelatedTests --coverageThreshold '{}'
