Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

.lintstagedrc:

{
  "**/*.{js,json,md}": [
    "prettier --write"
  ],
  "**/*.js": [
    "eslint --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}

chore(react-17): update react and react dom
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: install react test renderer
  package-lock.json
  package.json
Due: prettier --write

chore(react-17): update eslint and testing library
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.2.0-develop.215 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: replace dependancy alias
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  src/components/Transition/Transition.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: re build
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

refactor: share Audio Copy type with Audio Footer
  src/components/Audio/Audio.tsx
  src/components/Audio/Audio.types.ts
  src/components/Audio/components/AudioFooter/AudioFooter.tsx
  src/components/Audio/components/AudioFooter/AudioFooter.types.ts
Due: none

fix: seek forward label
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/Audio/components/AudioFooter/AudioFooter.tsx
Due: none

feat(audio): migrate to TS
  src/components/Audio/Audio.customHooks.ts
  src/components/Audio/Audio.fixture.ts
  src/components/Audio/Audio.spec.tsx
  src/components/Audio/Audio.tsx
  src/components/Audio/Audio.types.ts
  src/components/Audio/Audio.utils.ts
  src/components/Audio/__snapshots__/Audio.spec.tsx.snap
  src/components/Audio/components/AudioFooter/AudioFooter.spec.tsx
  src/components/Audio/components/AudioFooter/AudioFooter.tsx
  src/components/Audio/components/AudioFooter/AudioFooter.types.ts
  src/components/Audio/components/AudioFooter/__snapshots__/AudioFooter.spec.tsx.snap
  src/components/Audio/components/AudioFooter/index.ts
  src/components/Audio/components/AudioHeader/AudioHeader.spec.tsx
  src/components/Audio/components/AudioHeader/AudioHeader.tsx
  src/components/Audio/components/AudioHeader/AudioHeader.types.ts
  src/components/Audio/components/AudioHeader/__snapshots__/AudioHeader.spec.tsx.snap
  src/components/Audio/components/AudioHeader/index.ts
  src/components/Audio/components/PausePlayButton/PausePlayButton.tsx
  src/components/Audio/components/PausePlayButton/PausePlayButton.types.ts
  src/components/Audio/components/PausePlayButton/index.ts
  src/components/Audio/components/SeekButton/SeekButton.tsx
  src/components/Audio/components/SeekButton/SeekButton.types.ts
  src/components/Audio/components/SeekButton/index.ts
  src/components/Audio/index.ts
Due: none

chore: add ability to video to rerender on new source props and add video scroll storybook entry
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Video/Video.customHooks.js
  src/components/Video/Video.js
  src/components/Video/Video.stories.mdx
  src/components/Video/components/Controls/Controls.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: return to false
  src/components/Video/Video.stories.mdx
Due: none

refactor(audio): remove copy default value and use optional chaining for more declarative view
  src/components/Audio/Audio.tsx
  src/components/Audio/components/AudioFooter/AudioFooter.tsx
  src/components/Audio/components/PausePlayButton/PausePlayButton.tsx
  src/components/Audio/components/SeekButton/SeekButton.tsx
Due: none

chore(release): 1.2.0-develop.217 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(video): ensure video is mounted and referenced before loading
  src/components/Video/Video.js
  src/components/Video/__snapshots__/Video.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.2.0-develop.218 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: improve the deploy storybook task
  package.json
Due: prettier --write

chore: use the package version of build storybook
  package.json
Due: prettier --write

chore(aes-2575): rollback react transition group change
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  src/components/Transition/Transition.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Revert "[Fix][AES-2575] Roll-back React transition group update"
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  src/components/Transition/Transition.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

Revert "Revert "[Fix][AES-2575] Roll-back React transition group update""
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  src/components/Transition/Transition.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(2575): refactor default props for transition component
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Transition/Transition.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: remove build storybook from workflow
  .github/workflows/deploy-gh-pages.yml
Due: none

feat: migrate AddToCartButton to TS
  src/components/AddToCartButton/AddToCartButton.fixture.ts
  src/components/AddToCartButton/AddToCartButton.spec.tsx
  src/components/AddToCartButton/AddToCartButton.tsx
  src/components/AddToCartButton/AddToCartButton.types.ts
  src/components/AddToCartButton/AddToCartButton.utils.ts
  src/components/AddToCartButton/__snapshots__/AddToCartButton.spec.tsx.snap
Due: none

chore(release): 1.2.0-develop.219 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate BodyCopy to TS
  src/components/BodyCopy/BodyCopy.fixture.tsx
  src/components/BodyCopy/BodyCopy.js
  src/components/BodyCopy/BodyCopy.spec.tsx
  src/components/BodyCopy/BodyCopy.tsx
  src/components/BodyCopy/BodyCopy.types.ts
  src/components/BodyCopy/__snapshots__/BodyCopy.spec.tsx.snap
  src/components/BodyCopy/index.ts
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(ae-237): migrate list component to ts
  src/components/List/List.fixture.ts
  src/components/List/List.js
  src/components/List/List.spec.tsx
  src/components/List/List.stories.mdx
  src/components/List/List.tsx
  src/components/List/List.types.ts
  src/components/List/__snapshots__/List.spec.js.snap
  src/components/List/__snapshots__/List.spec.tsx.snap
  src/components/List/index.ts
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(ae-250): migrate quote to ts
  src/components/Quote/Quote.fixture.ts
  src/components/Quote/Quote.spec.tsx
  src/components/Quote/Quote.stories.mdx
  src/components/Quote/Quote.tsx
  src/components/Quote/Quote.types.ts
  src/components/Quote/__snapshots__/Quote.spec.tsx.snap
  src/components/Quote/index.ts
Due: none

chore: add context as a prefix to the component generator
  scripts/componentBoilerplate/assets/Component.stories.mdx
  scripts/componentBoilerplate/assets/Component.tsx
  scripts/componentBoilerplate/assets/Component.types.ts
  scripts/componentBoilerplate/create.sh
Due: none

chore: update prop type name for list
  src/components/List/List.fixture.ts
  src/components/List/List.tsx
  src/components/List/List.types.ts
Due: none

chore: props type name update
  src/components/List/List.types.ts
Due: none

feat: migrate Breadcrumbs to TS
  src/components/Breadcrumbs/Breadcrumbs.fixture.js
  src/components/Breadcrumbs/Breadcrumbs.fixture.ts
  src/components/Breadcrumbs/Breadcrumbs.spec.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/Breadcrumbs.types.ts
  src/components/Breadcrumbs/__snapshots__/Breadcrumbs.spec.tsx.snap
  src/components/Breadcrumbs/index.ts
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: migrate Button to TS
  src/components/Button/Button.js
  src/components/Button/Button.spec.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.tsx
  src/components/Button/__snapshots__/Button.spec.tsx.snap
  src/components/Button/index.ts
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: revert react
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

Revert "chore: revert react 17"
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'
