Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore: update cleanup format spelling
  src/customHooks/useEscapeKeyListener/useEscapeKeyListener.js
  src/customHooks/useHasMounted/useHasMounted.js
  src/customHooks/useOnScreen/useOnScreen.js
  src/customHooks/useOverflowHidden/useOverflowHidden.js
  src/customHooks/useScript/useScript.js
  src/customHooks/useWindowHasResized/useWindowHasResized.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: replace uuid with react uid for persistent ids
  package-lock.json
  package.json
  setupTests.js
  src/components/Audio/__snapshots__/Audio.spec.js.snap
  src/components/Audio/components/AudioFooter/__snapshots__/AudioFooter.spec.js.snap
  src/components/Carousel/__snapshots__/Carousel.spec.js.snap
  src/components/Carousel/components/NextButton/__snapshots__/NextButton.spec.js.snap
  src/components/Carousel/components/PreviousButton/__snapshots__/PreviousButton.spec.js.snap
  src/components/Checkbox/Checkbox.js
  src/components/DialogBanner/__snapshots__/DialogBanner.spec.js.snap
  src/components/FooterBlock/__snapshots__/FooterBlock.spec.js.snap
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/__snapshots__/HorizontalProductDisplayAccordion.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/__snapshots__/AccordionProduct.spec.js.snap
  src/components/Icon/Icon.js
  src/components/Icon/Icon.utils.js
  src/components/Icon/__snapshots__/Icon.spec.js.snap
  src/components/ImageCarousel/__snapshots__/ImageCarousel.spec.js.snap
  src/components/Modal/components/ModalBody/__snapshots__/ModalBody.spec.js.snap
  src/components/NotificationModal/__snapshots__/NotificationModal.spec.js.snap
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
  src/components/TextInputV2/TextInputV2.js
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: clean up the code
  src/components/ContentHubArticleList/ContentHubArticleList.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: clean up the code
  src/components/ContentHubArticleList/ContentHubArticleList.js
  src/components/ContentHubArticleList/ContentHubArticleList.module.css
  src/components/ContentHubArticleList/__snapshots__/ContentHubArticleList.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

fix: build files
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore(release): 1.2.0-develop.198 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: merge develop
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  setupTests.js
  src/components/Audio/__snapshots__/Audio.spec.js.snap
  src/components/Audio/components/AudioFooter/__snapshots__/AudioFooter.spec.js.snap
  src/components/Carousel/__snapshots__/Carousel.spec.js.snap
  src/components/Carousel/components/NextButton/__snapshots__/NextButton.spec.js.snap
  src/components/Carousel/components/PreviousButton/__snapshots__/PreviousButton.spec.js.snap
  src/components/Checkbox/Checkbox.js
  src/components/DialogBanner/__snapshots__/DialogBanner.spec.js.snap
  src/components/FooterBlock/__snapshots__/FooterBlock.spec.js.snap
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/GoogleMap/__snapshots__/GoogleMap.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/__snapshots__/HorizontalProductDisplayAccordion.spec.js.snap
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/__snapshots__/AccordionProduct.spec.js.snap
  src/components/Icon/Icon.js
  src/components/Icon/Icon.utils.js
  src/components/Icon/__snapshots__/Icon.spec.js.snap
  src/components/ImageCarousel/__snapshots__/ImageCarousel.spec.js.snap
  src/components/Modal/components/ModalBody/__snapshots__/ModalBody.spec.js.snap
  src/components/NotificationModal/__snapshots__/NotificationModal.spec.js.snap
  src/components/Select/__snapshots__/Select.spec.js.snap
  src/components/StoreDetailHeader/__snapshots__/StoreDetailHeader.spec.js.snap
  src/components/SubNav/__snapshots__/SubNav.spec.js.snap
  src/components/TextInputV2/TextInputV2.js
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(aes-2467): update package lock
  package-lock.json
Due: prettier --write

feat(aes-2467): add new video and vtt + update styles and add device detection
  public/assets/captions/Raeburn-How-to-Full-ENG.vtt
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/Video/Video.js
  src/components/Video/Video.module.css
  src/components/Video/Video.stories.mdx
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/components/Video/components/VideoPlayer/VideoPlayer.js
  src/utils/environment/environment.js
  src/utils/environment/index.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat: aes-2486: flyout panel heading
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  package-lock.json
  src/components/FlyinPanel/FlyinPanel.js
  src/components/FlyinPanel/FlyinPanel.module.css
  src/components/FlyinPanel/FlyinPanel.stories.mdx
  src/components/ProductDetailHeader/ProductDetailHeader.fixture.js
  src/components/ProductDetailHeader/ProductDetailHeader.js
  src/components/ProductDetailHeader/ProductDetailHeader.stories.mdx
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.fixture.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/contexts/ProductDetailContext/ProductDetailContext.js
  src/contexts/ProductDetailContext/ProductDetailStore.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat: aes-2486: flyout test add heading
  src/components/FlyinPanel/FlyinPanel.spec.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(aes-2467): debug firefox styles
  src/components/Video/Video.js
  src/components/Video/Video.module.css
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore: refactor build tasks and normalise task names
  README.md
  dist/index.cjs.js.map
  dist/index.esm.js.map
  documentation/welcome.stories.mdx
  package.json
Due: prettier --write

chore: replace uuid with react-uid in peer dependencies
  package.json
Due: prettier --write

chore: update release tasks
  package.json
Due: prettier --write

chore: remove node env from build task and the replace dependency
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: aes-2486: remove flyinpanel heading bool check
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/ProductDetailHeader/ProductDetailHeader.fixture.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/contexts/ProductDetailContext/ProductDetailContext.js
  src/contexts/ProductDetailContext/ProductDetailStore.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: aes-2486: update flyinpanel test
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/FlyinPanel/FlyinPanel.spec.js
  src/contexts/ProductDetailContext/ProductDetailContext.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove dynamic forms
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  package-lock.json
  src/index.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore: intial typescript migration commit + config
  .eslintrc
  .lintstagedrc
  .storybook/main.js
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  globals.d.ts
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/components/Figure/Figure.spec.tsx
  src/components/Figure/Figure.tsx
  src/components/Figure/__snapshots__/Figure.spec.tsx.snap
  src/components/Figure/index.js
  src/components/Heading/Heading.js
  src/components/Heading/Heading.spec.tsx
  src/components/Heading/Heading.tsx
  src/components/Heading/__snapshots__/Heading.spec.tsx.snap
  src/components/Heading/index.js
  src/components/Image/Image.spec.tsx
  src/components/Image/Image.tsx
  src/components/Image/__snapshots__/Image.spec.tsx.snap
  src/components/Image/index.js
  src/contexts/AddToCartContext/AddToCartStore.js
  src/customHooks/useImageTransition/useImageTransition.spec.js
  src/utils/objects/index.js
  src/utils/objects/objects.spec.ts
  src/utils/objects/objects.ts
  tsconfig.json
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore: rebuild and add debug logs
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/Video/Video.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat(con-78): refactor h1 to heading component with correct heading level
  src/components/FooterBlock/FooterBlock.js
  src/components/FooterBlock/__snapshots__/FooterBlock.spec.js.snap
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-78): remove medium font weight style in favour of prop
  src/components/FooterBlock/FooterBlock.css
Due: stylelint --fix

chore(release): 1.2.0-develop.201 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat(aes-2467): remove console logs and add cross origin attribute
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/Video/Video.js
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/components/Video/components/VideoPlayer/VideoPlayer.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: re-build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update node version to match Web UI
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/push.yml
  .github/workflows/update-webui.yml
  .nvmrc
Due: none

fix(dynamicform): use IE friendly version
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/DynamicForm/wrappers/Checkbox.js
  src/compositions/DynamicForm/wrappers/Select.js
  src/compositions/DynamicForm/wrappers/TextField.js
  src/index.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-38): normalise styles and rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/Video/Video.module.css
  src/components/Video/components/Controls/Controls.js
  src/components/Video/components/Controls/Controls.module.css
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat(con-38): new browser styles and hide on ie
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/FullWidthHeroScroll/__snapshots__/FullWidthHeroScroll.spec.js.snap
  src/components/Video/Video.js
  src/components/Video/Video.module.css
  src/components/Video/__snapshots__/Video.spec.js.snap
  src/components/Video/components/Controls/Controls.module.css
  src/components/Video/components/VideoPlayer/VideoPlayer.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore(release): 1.2.0-develop.202 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
  dist/styles.css
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat(con-38): update copy api
  src/components/Video/Video.js
  src/components/Video/components/Controls/Controls.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: rebuild
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: correct z index
  dist/styles.css
  dist/styles.css.map
  src/components/Video/components/Controls/Controls.module.css
Due: stylelint --fix

feat(con-38): correct show logic
  src/components/Video/Video.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: re-build
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

chore: re build styles
  dist/styles.css
Due: stylelint --fix

chore: fix TS build
  declaration.d.ts
  src/components/Heading/Heading.tsx
  src/components/Image/__snapshots__/Image.spec.js.snap
Due: none

chore: disable proptypes eslint rule for TS files
  .eslintrc
  src/components/Heading/Heading.tsx
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,json,md}
  eslint --ignore-path .eslintignore --config .eslintrc: any of: **/*.js
  jest --findRelatedTests --coverageThreshold '{}': any of: **/*.js
  stylelint --fix: any of: **/*.css
