Repository cyrusxzw/new-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

.lintstagedrc:

{
  "**/*.{js,json,md}": [
    "prettier --write"
  ],
  "**/*.js": [
    "eslint --ignore-path .eslintignore --config .eslintrc",
    "jest --findRelatedTests --coverageThreshold '{}'"
  ],
  "**/*.css": [
    "stylelint --fix"
  ]
}

chore: add missing types
  src/components/Figure/Figure.tsx
  src/components/Image/Image.tsx
  src/utils/objects/objects.ts
Due: none

chore: fix linting issues on commit
  .lintstagedrc
Due: none

chore: remove moduleResolution rollup config option
  rollup.config.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix(con-38): change to using captions track mode on video ref to support firefox
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  src/components/Video/Video.js
  src/components/Video/Video.stories.mdx
  src/components/Video/components/VideoPlayer/VideoPlayer.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(typescript): specify version of react types
  package-lock.json
  package.json
Due: prettier --write

Revert "chore(typescript): specify version of react types"
  package-lock.json
  package.json
Due: prettier --write

feat: wrap browser detection variables in window detection
  src/utils/environment/environment.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.2.0-develop.204 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: lazy load external npm modules
  rollup.config.js
  src/components/Audio/Audio.customHooks.js
  src/contexts/GoogleMapsContext/GoogleMapsStore.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: merge from develop
  dist/index.cjs.js.map
  dist/index.esm.js.map
Due: none

chore(release): 1.2.0-develop.205 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

fix: wrap document access in window check
  src/components/FlyinPanel/FlyinPanel.js
  src/components/Modal/Modal.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.2.0-develop.206 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-129): wip implementation for horizontalExpander impression and click tracking
  package-lock.json
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.spec.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-129): add callback prop in gel accordion product and use
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-129): add callback function prop and improve accordion product test coverage
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.fixture.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(con-129): remove extra ref prop and add defaultProp onPromoClick tfor full test coverage
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.2.0-develop.207 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

style: update the css for checkbox
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  src/components/Checkbox/Checkbox.module.css
  src/compositions/Footer/__snapshots__/Footer.spec.js.snap
  src/compositions/NewsletterSignUp/NewsletterSignUp.fixture.js
  src/compositions/NewsletterSignUp/__snapshots__/NewsletterSignUp.spec.js.snap
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat(con-98): add loading state to carousel slides + rebuild and update snapshots
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  dist/styles.css.map
  package-lock.json
  src/components/Carousel/Carousel.js
  src/components/Carousel/Carousel.module.css
  src/components/Carousel/Carousel.stories.mdx
  src/components/Carousel/__snapshots__/Carousel.spec.js.snap
  src/components/Loading/Loading.js
  src/components/Loading/Loading.module.css
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

feat: rebase and rebuild
  dist/index.cjs.js.map
  dist/index.esm.js.map
  package-lock.json
Due: prettier --write

fix: clean up the code
  src/components/Checkbox/Checkbox.module.css
Due: stylelint --fix

chore(release): 1.2.0-develop.209 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat: remove explicit index.ts
  dist/index.cjs.js.map
  dist/index.esm.js.map
  src/components/AddToCartButton/AddToCartButton.js
  src/components/AddToCartButton/AddToCartButton.spec.js
  src/components/BodyCopy/BodyCopy.js
  src/components/Carousel/Carousel.js
  src/components/GoogleMap/GoogleMap.js
  src/components/HorizontalProductDisplayAccordion/HorizontalProductDisplayAccordion.js
  src/components/HorizontalProductDisplayAccordion/components/AccordionProduct/AccordionProduct.spec.js
  src/components/LinkButtonGroup/LinkButtonGroup.js
  src/components/LoadMoreButton/LoadMoreButton.js
  src/components/LoadMoreButton/LoadMoreButton.spec.js
  src/components/NotificationModal/NotificationModal.js
  src/components/NotificationModal/NotificationModal.spec.js
  src/components/NotificationModal/components/ToogleButton/ToogleButton.js
  src/components/NotificationModal/components/ToogleButton/ToogleButton.spec.js
  src/components/Podium/Podium.js
  src/components/ProductCommerce/ProductCommerce.js
  src/components/ProductCommerce/ProductCommerce.spec.js
  src/components/ProductDetailHeader/ProductDetailHeader.js
  src/components/ProductDetailHeader/ProductDetailHeader.spec.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.js
  src/components/ProductDetailHeader/components/ProductDetailBody/ProductDetailBody.spec.js
  src/components/ProductDetailHeader/components/ProductDetailImage/ProductDetailImage.js
  src/components/ProductDetailHeader/components/ProductDetailImage/ProductDetailImage.spec.js
  src/components/ProductExtract/ProductExtract.js
  src/components/ProductGridItem/ProductGridItem.js
  src/components/ProductGridItem/ProductGridItem.spec.js
  src/components/Quote/Quote.js
  src/components/SubNav/SubNav.js
  src/compositions/DynamicForm/DynamicForm.js
  src/compositions/Footer/Footer.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.js
  src/compositions/NewsletterSignUp/NewsletterSignUp.spec.js
  src/index.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: update new component boilerplate for TS
  .stylelintignore
  scripts/componentBoilerplate/assets/Component.fixture.ts
  scripts/componentBoilerplate/assets/Component.js.txt
  scripts/componentBoilerplate/assets/Component.module.css
  scripts/componentBoilerplate/assets/Component.spec.tsx
  scripts/componentBoilerplate/assets/Component.stories.mdx
  scripts/componentBoilerplate/assets/Component.tsx
  scripts/componentBoilerplate/assets/Component.types.ts
  scripts/componentBoilerplate/assets/index.ts
  scripts/componentBoilerplate/create.sh
Due: stylelint --fix

feat(accordion): migrate to TS
  src/components/Accordion/Accordion.fixture.tsx
  src/components/Accordion/Accordion.spec.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.tsx
  src/components/Accordion/__snapshots__/Accordion.spec.tsx.snap
  src/components/Accordion/index.ts
Due: none

chore(release): 1.2.0-develop.212 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

feat(paragraph): migrate to TS
  src/components/Paragraph/Paragraph.js
  src/components/Paragraph/Paragraph.spec.tsx
  src/components/Paragraph/Paragraph.tsx
  src/components/Paragraph/Paragraph.types.ts
  src/components/Paragraph/__snapshots__/Paragraph.spec.tsx.snap
  src/components/Paragraph/index.ts
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore(release): 1.2.0-develop.213 [skip ci]
  dist/index.cjs.js
  dist/index.esm.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

style: remove font-weight for link under checkbox
  dist/styles.css
  src/components/Checkbox/Checkbox.module.css
Due: stylelint --fix

improvement: clean up the code
  dist/styles.css
  src/components/Checkbox/Checkbox.module.css
Due: stylelint --fix

chore: add npm script to count remaining JS files
  list-js-files.js
  package.json
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

chore: exclude scripts folder from TS compile
  rollup.config.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'

refactor: prefix Props in /components
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.tsx
  src/components/Figure/Figure.tsx
  src/components/Figure/Figure.types.ts
  src/components/Heading/Heading.tsx
  src/components/Heading/Heading.types.ts
  src/components/Image/Image.tsx
  src/components/Image/Image.types.ts
Due: none

refactor: prefix Props in /contexts
  src/contexts/AddToCartContext/AddToCartContext.tsx
  src/contexts/AddToCartContext/AddToCartContext.types.ts
  src/contexts/GoogleMapsContext/GoogleMapsContext.tsx
  src/contexts/GoogleMapsContext/GoogleMapsContext.types.ts
  src/contexts/LoadMoreContext/LoadMoreContext.tsx
  src/contexts/LoadMoreContext/LoadMoreContext.types.ts
  src/contexts/NavBarThemeContext/NavBarThemeContext.tsx
  src/contexts/NavBarThemeContext/NavBarThemeContext.types.ts
  src/contexts/ProductDetailContext/ProductDetailContext.tsx
  src/contexts/ProductDetailContext/ProductDetailContext.types.ts
  src/contexts/ThemeContext/ThemeContext.tsx
  src/contexts/ThemeContext/ThemeContext.types.ts
  src/contexts/VariantSelectContext/VariantSelectContext.tsx
  src/contexts/VariantSelectContext/VariantSelectContext.types.ts
Due: none

refactor: move css imports to the bottom in tsx files
  src/components/Accordion/Accordion.tsx
  src/components/Heading/Heading.tsx
  src/components/Paragraph/Paragraph.tsx
Due: none

feat(con-143): create hero banner component and update media with content component
  dist/index.cjs.js
  dist/index.cjs.js.map
  dist/index.esm.js
  dist/index.esm.js.map
  dist/styles.css
  src/components/HeroBanner/HeroBanner.fixture.tsx
  src/components/HeroBanner/HeroBanner.module.css
  src/components/HeroBanner/HeroBanner.spec.tsx
  src/components/HeroBanner/HeroBanner.stories.mdx
  src/components/HeroBanner/HeroBanner.tsx
  src/components/HeroBanner/HeroBanner.types.ts
  src/components/HeroBanner/__snapshots__/HeroBanner.spec.tsx.snap
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.module.css
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.tsx
  src/components/HeroBanner/components/HeroBannerContent/HeroBannerContent.types.ts
  src/components/HeroBanner/components/HeroBannerContent/index.ts
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.module.css
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.tsx
  src/components/HeroBanner/components/HeroBannerMedia/HeroBannerMedia.types.ts
  src/components/HeroBanner/components/HeroBannerMedia/index.ts
  src/components/HeroBanner/index.ts
  src/components/MediaWithContent/MediaWithContent.js
  src/components/MediaWithContent/MediaWithContent.stories.mdx
  src/components/MediaWithContent/components/Content/Content.js
  src/components/index.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}', stylelint --fix

fix: use browser version of react dom server
  src/components/GoogleMap/GoogleMap.js
Due: prettier --write, eslint --ignore-path .eslintignore --config .eslintrc, jest --findRelatedTests --coverageThreshold '{}'
